@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');



::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #313338;
}


::-webkit-scrollbar-thumb {
  background: #757273;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: gray;
}